#
# Site backups
#
# By default online backups of the swarm are performed. If offline backups are wanted, the playbooks verifies that
# there will be enough managers in the cluster to maintain the quorum after shutting down one docker daemon for the duration
# of the backup. If this is not the case, the backup will not be done.
#
# Backup of the UCP metadata always causes a short interruption of ctrl plane services. See the
# Docker documentation for more info
#
#swarm_backup_offline: "true"

#
# name of the archive containing the backup of the swarm data, the UCP data, the DTR metata data and the DTR images
#
backup_swarm: "/root/restore/backup_swarm.tgz"
backup_ucp: "/root/restore/backup_ucp.tgz"
backup_dtr_meta: "/root/restore/backup_dtr_meta.tgz"
backup_dtr_data: "/root/restore/backup_dtr_data.tgz"

#
# Make sure you specify the correct replica ID of the DTR replica which you are about to restore. You can find this information in 
# the .vars.tgz file that was created together with the archive that contains the  DTR metadata
#
backup_dtr_id: "8e7266e788b5"

#
# backup_dest is the name of an EXISTING folder on your ansible box
#
backup_dest: "/root/backups"

#
# backup_server: this MUST be set to the IP address of your ansible box
#
backup_server: "ip address of your ansible box"
