export SPLUNK_HOME=/opt/splunkforwarder
#
# restart splunk at boot time
#
if [ ! -f /etc/inid.d/splunk ]
then
 $SPLUNK_HOME/bin/splunk --accept-license --answer-yes enable boot-start
fi

#
# Initially, the Splunk technical add-ons for docker were made to run from withing a container. The containerized universal forwarder is looking for
# container log files under /host/containers, which is the host's /var/lib/docker/containers mount point (mounted with docker run -v...)
# It would be possible to change the inputs.conf file of the UF and have it monitor /var/lib/docker/containers/* but the Docker App itself is also
# making the assumption theat containers' logs are found in /host/containers.
#
# To address the above we create a symbolic link on the docker hosts /host/containers which will point to /var/lib/docker/containers
#
#
if [  ! -L /host/containers ]
then
  if [ ! -e /host ]
  then
    mkdir /host
  fi
  ln -s /var/lib/docker/containers /host/containers
fi
#
#
#
$SPLUNK_HOME/bin/splunk  --accept-license --answer-yes restart

#
# splunk status returns 0 if splunk is running, 3 if it is not running
#

