## UCP
[ucp_main]
hpe-ucp01 ip_addr='10.60.59.11/16' esxi_host='esxi-hpe-1.cloudra.local'

[ucp]
hpe-ucp01 ip_addr='10.60.59.11/16' esxi_host='esxi-hpe-1.cloudra.local'
hpe-ucp02 ip_addr='10.60.59.12/16' esxi_host='esxi-hpe-2.cloudra.local'
hpe-ucp03 ip_addr='10.60.59.13/16' esxi_host='esxi-hpe-3.cloudra.local'

[ucp:vars]
cpus='4'
ram='16384'
disk2_size='500'
node_policy='hpe-bronze'


## DTR
[dtr_main]
hpe-dtr01 ip_addr='10.60.59.14/16' esxi_host='esxi-hpe-1.cloudra.local'

[dtr]
hpe-dtr01 ip_addr='10.60.59.14/16' esxi_host='esxi-hpe-1.cloudra.local'
hpe-dtr02 ip_addr='10.60.59.15/16' esxi_host='esxi-hpe-2.cloudra.local'
hpe-dtr03 ip_addr='10.60.59.16/16' esxi_host='esxi-hpe-3.cloudra.local'

[dtr:vars]
cpus='2' 
ram='16384'
disk2_size='500'
# make sure "swarm" is specified for DTR otherwise DTR machines will be
# configured in mixed mode and the deployment "may" fail in some cases
orchestrator=swarm
node_policy='hpe-gold'


## LINUX WORKER
[worker]
hpe-worker01 ip_addr='10.60.59.21/16' esxi_host='esxi-hpe-1.cloudra.local'
hpe-worker02 ip_addr='10.60.59.22/16' esxi_host='esxi-hpe-2.cloudra.local'
hpe-worker03 ip_addr='10.60.59.23/16' esxi_host='esxi-hpe-3.cloudra.local' orchestrator=swarm

[worker:vars]
cpus='4'
ram='65536'
disk2_size='500'
orchestrator='kubernetes'


## LOAD BALANCERS (Legacy Style)
[ucp_lb]
#hpe-ucp ip_addr='10.60.59.88/16'    esxi_host='esxi-hpe-1.cloudra.local'
[dtr_lb]
#hpe-dtr ip_addr='10.60.59.89/16'    esxi_host='esxi-hpe-2.cloudra.local'
[worker_lb]
#hpe-worker ip_addr='10.60.59.90/16' esxi_host='esxi-hpe-3.cloudra.local'

[lbs:children]
ucp_lb
dtr_lb
worker_lb


## LOAD BALANCERS (new style, using floating IPs managed by keepalived)
## make sure you document the dictionary loadbalancers: in group_vars/vars
[loadbalancer]
hpe-lb1 ip_addr='10.60.59.160/16' esxi_host='esxi-hpe-1.cloudra.local' ucp=true worker=true
hpe-lb2 ip_addr='10.60.59.161/16' esxi_host='esxi-hpe-2.cloudra.local' dtr=true

[loadbalancer:vars]
cpus='2'
ram='4096'
node_policy='hpe-bronze'

[docker:children]
ucp
dtr
worker

[nfs]
hpe-nfs ip_addr='10.60.59.20/16' esxi_host='esxi-hpe-3.cloudra.local'

[nfs:vars]
cpus='2'
ram='4096'
disk2_size='500'
node_policy='hpe-gold'

[logger]
hpe-logger ip_addr='10.60.59.24/16' esxi_host='esxi-hpe-2.cloudra.local'

[logger:vars]
cpus='2'
ram='4096'
node_policy='hpe-gold'

[vms:children]
ucp
dtr
worker
lbs
loadbalancer
nfs
logger

[vms:vars]
disk1_size='100'


## WINDOWS WORKER
[win_worker]
hpe-worker04 ip_addr='10.60.59.25/16' esxi_host='esxi-hpe-1.cloudra.local'
hpe-worker05 ip_addr='10.60.59.26/16' esxi_host='esxi-hpe-2.cloudra.local'
hpe-worker06 ip_addr='10.60.59.27/16' esxi_host='esxi-hpe-3.cloudra.local'

[win_worker:vars]
cpus='4'
ram='65536'
disk1_size='100'
disk2_size='500'
# Kubernetes currently does not support Windows worker nodes
orchestrator=swarm

[all_vms:children]
vms
win_worker


## LOCAL
[local]
localhost ansible_connection=local
