[tcpout]
defaultGroup = default-autolb-group

{% if splunk_ssl is defined %}
[tcpout:splunkssl]
useClientSSLCompression = true
{% endif %}

[tcpout:default-autolb-group]
server={% for forward_server in splunk_architecture_forward_servers %}
{% if loop.first %}{{ forward_server }}{% else %},{{ forward_server }}{% endif %}
{% endfor %}
 

{% for forward_server in splunk_architecture_forward_servers %}
[tcpout-server://{{ forward_server }}]
{% if splunk_ssl is defined %}
clientCert = $SPLUNK_HOME/etc/mycerts/forwarder.pem
sslRootCAPath = $SPLUNK_HOME/etc/mycerts/ca.pem
sslVerifyServerCert = true
sslCommonNameToCheck = {{ forward_server.split (':')[0] }}
#sslAltNameToCheck =   {{ forward_server.split (':')[0] }}
{% endif %}
 
{% endfor %}
