! Configuration File for keepalived

vrrp_script chk_haproxy {
  script "/usr/bin/killall -0 haproxy"
  interval 2
  weight 2
}

#vrrp_sync_group VG1 {
#  group {
#    {% if loadbalancers.ucp is defined %}UCP_VIP{% endif %}
#
#    {% if loadbalancers.dtr is defined %}DTR_VIP{% endif %}
#
#    {% if loadbalancers.worker is defined %}WRK_VIP{% endif %}
#
#  }
#}

{% if loadbalancers.ucp is defined %}
vrrp_instance UCP_VIP {
  state MASTER
  interface {{ loadbalancers.ucp.public_interface }}
  virtual_router_id {{ loadbalancers.ucp.virtual_router_id }}
{% if hostvars[inventory_hostname].ucp is defined %}
  priority 100
{% else %}
  priority 99
{% endif %}
  virtual_ipaddress {
    {{ loadbalancers.ucp.public_vip }}
  }
  track_script {
    chk_haproxy
  }
}
{%endif %}


{% if loadbalancers.dtr is defined %}
vrrp_instance DTR_VIP {
  state MASTER
  interface {{ loadbalancers.dtr.public_interface }}
  virtual_router_id {{ loadbalancers.dtr.virtual_router_id }}
{% if hostvars[inventory_hostname].dtr is defined %}
  priority 100
{% else %}
  priority 99
{% endif %}
  virtual_ipaddress {
    {{ loadbalancers.dtr.public_vip }}
  }
  track_script {
    chk_haproxy
  }
}
{%endif %}

{% if loadbalancers.worker is defined %}
vrrp_instance WRK_VIP {
  state MASTER
  interface {{ loadbalancers.worker.public_interface }}
  virtual_router_id {{ loadbalancers.worker.virtual_router_id }}
{% if hostvars[inventory_hostname].worker is defined %}
  priority 100
{% else %}
  priority 99
{% endif %}
  virtual_ipaddress {
    {{ loadbalancers.worker.public_vip }}
  }
  track_script {
    chk_haproxy
  }
}
{%endif %}
