[tcpout]
defaultGroup = default-autolb-group

[tcpout:default-autolb-group]
{% for forward_server in splunk_architecture_forward_servers %}
server = {{ forward_server }}
{% endfor %}

{% for forward_server in splunk_architecture_forward_servers %}
[tcpout-server://{{ forward_server }}]
{% endfor %}

