###
# Copyright (2017) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
#
# perform a backup of UCP
#
ucp_id=$1
backup_name=$2
backup_file=${backup_name}.tgz

#
# send the compressed data to a remote SSH server (the anible box)
# 
 
# backup UCP
docker container run --log-driver none --rm  --name ucp -v /var/run/docker.sock:/var/run/docker.sock docker/ucp:{{ detected_ucp_version }} \
   backup --id $ucp_id \
| gzip - | ssh -oStrictHostKeyChecking=no {{ backup_server }} "cat >{{ backup_dest }}/${backup_file}"
