###
# Copyright (2017) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
#
# performs a backup of the DTR metadata 
#
replica_id=$1
backup_name=$2
ucp_instance=$3
backup_meta=${backup_name}.tgz 

# backup the DTR metadata 
#docker run --log-driver none --rm docker/dtr:{{ dtr_version }} backup --ucp-url https://{{ groups.ucp_lb[0] }}.{{ domain_name}} --ucp-insecure-tls --ucp-username '{{ucp_username}}' --ucp-password '{{ucp_password}}'  --existing-replica-id $replica_id > /tmp/backup_dtr_meta.tar 

docker run --log-driver none --rm docker/dtr:{{ dtr_version }} backup --ucp-url https://{{ groups.ucp_lb[0] }}.{{ domain_name}} --ucp-insecure-tls --ucp-username '{{ucp_username}}' --ucp-password '{{ucp_password}}'  --existing-replica-id $replica_id  | ssh -oStrictHostKeyChecking=no {{ backup_server }} "cat >{{ backup_dest }}/${backup_meta}"

#
# backup the data, compress it and stream it to our SSH server
#
docker run --log-driver none --rm --env UCP_USERNAME --env UCP_PASSWORD docker/dtr:{{ detected_dtr_version }} \
    backup \
      --ucp-url https://${ucp_instance} \
      --ucp-insecure-tls \
      --existing-replica-id $replica_id  \
 | gzip - | ssh -oStrictHostKeyChecking=no {{ backup_server }} "cat >{{ backup_dest }}/${backup_meta}"
