###
# Copyright (2017) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
#
# perform a backup of the swarm data
#
ucp_id=$1
backup_name=$2
backup_file=${backup_name}.tgz
logfile=backup.log
 
backup_offline="{{ swarm_backup_offline }}"

#
# Stop docker before taking the backup
#
if [ "$backup_offline" == "True" ]
then
  echo $(date) Offline backup starting, docker stopped. backup_offline = ${backup_offline} >>$logfile
  systemctl stop docker
  (cd /var/lib/docker/swarm ; tar -czvf - . |  ssh -oStrictHostKeyChecking=no {{ backup_server }} "cat >{{ backup_dest }}/${backup_file}" )
  systemctl start docker
  echo $(date) Offline backup finished backup_offline = ${backup_offline} >>$logfile
else
  echo $(date) Online backup starting, backup_offline = ${backup_offline} >>$logfile
  (cd /var/lib/docker/swarm ; tar -czvf - . |  ssh -oStrictHostKeyChecking=no {{ backup_server }} "cat >{{ backup_dest }}/${backup_file}" )
  echo $(date) Online backup finished backup_offline = ${backup_offline} >>$logfile
fi
