###
# Copyright (2017) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
#
# Restore DTR metadata
#

replica_id=$1
if [ -e ./ca.pem ]
then
  ucp_insecure_switch=""
  export UCP_CA=$(cat ./ca.pem)
  env_switch="--env UCP_CA"
else
  ucp_insecure_switch="--ucp-insecure-tls"
  env_switch=""
fi

ssh -oStrictHostKeyChecking=no {{ backup_server }} "cat {{ backup_dtr_meta }}" | zcat | \
  docker run -i --rm --env UCP_USERNAME --env UCP_PASSWORD $env_switch docker/dtr:{{ dtr_version }} restore \
    --ucp-url https://{{ ucp_instance }}.{{ domain_name }} \
    $ucp_insecure_switch \
    --ucp-node {{ groups.dtr_main[0] }}.{{ domain_name }} \
    --replica-id ${replica_id}  \
    --dtr-external-url https://{{ groups.dtr_lb[0] }}.{{ domain_name }} \
    --nfs-storage-url nfs://{{ groups.nfs[0] }}.{{ domain_name }}/docker-images \
    {{ http_proxy_switch }} {{ https_proxy_switch }} {{ no_proxy_switch }} 
