backup_node="{{ inventory_hostname }}"
replica_id="{{ replica_id | default('') }}"
backup_source="{{ backup_source | default('') }}"
ucp_version="{{ detected_ucp_version | default ('') }}"
dtr_version="{{ detected_dtr_version | default ('') }}"
