global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     256
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats
defaults
    mode    tcp
    timeout connect 5000
    timeout client 50000
    timeout server 50000
frontend public
    option tcplog
    log global
    bind *:80
    redirect scheme https code 301 if !{ ssl_fc }
    bind *:443
    default_backend servers
backend servers
    balance roundrobin
{% for host in groups.dtr %}
    server {{ host }} {{ hostvars[host].ip_addr | ipaddr('address') }}:443 check 
{% endfor %}
