version: "3"

networks:
  logging:

services:
  logspout:
    image: gliderlabs/logspout:{{ logspout_version }}
    environment:
      - ALLOW_TTY=1
    networks:
      - logging
    volumes:
      - /etc/hostname:/etc/host_hostname:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      syslog://{{groups.logger[0]}}.{{domain_name}}:514
    deploy:
      mode: global
      resources:
        limits:
          cpus: '0.20'
          memory: 256M
        reservations:
          cpus: '0.10'
          memory: 128M

