driftfile /var/lib/ntp/ntp.drift
statistics loopstats peerstats clockstats
filegen clockstats file clockstats type day enable
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery
restrict ::1
restrict 127.0.0.1
{% for s in ntp_servers %}
server {{ s }}
{% endfor %}
