Set-PowerCLIConfiguration -InvalidCertificateAction ignore -Confirm:$false

{% for datastore in datastores %}
Connect-VIServer {{ vcenter_hostname }} -User '{{ vcenter_username }}' -Password '{{ vcenter_password }}'
$datastore=Get-Datastore -Name "{{ datastore }}" -Refresh:$true
New-PSDrive -Location $datastore -name ds{{ datastore }} -PSProvider VimDatastore -Root "\"
Copy-DatastoreItem -Item ds{{ datastore }}:\{{ dummy_vm_prefix }}-{{ datastore }}\*.vmx -Destination ds{{ datastore }}:\dockvols\
Copy-DatastoreItem -Item ds{{ datastore }}:\{{ dummy_vm_prefix }}-{{ datastore }}\*.vmsd -Destination ds{{ datastore }}:\dockvols\
Copy-DatastoreItem -Item ds{{ datastore }}:\{{ dummy_vm_prefix }}-{{ datastore }}\*.vmdk -Destination ds{{ datastore }}:\dockvols\
$folder="{{ folder_name }}".TrimStart("/")
New-VM -Location $folder  -VMFilePath "[{{ datastore }}] dockvols/{{ dummy_vm_prefix }}-{{ datastore }}.vmx" -Name {{ dummy_vm_prefix }}-in-dockvols-{{ datastore }} -VMHost {{ esxi_host }}
Disconnect-VIServer * -Confirm:$false
{% endfor %}

Connect-VIServer {{ vcenter_hostname }} -User '{{ vcenter_username }}' -Password '{{ vcenter_password }}'

{% for datastore in datastores %}
$vm=Get-VM -Name '{{ dummy_vm_prefix }}-{{ datastore }}'
echo $vm
Remove-VM -VM $vm -DeletePermanently -Confirm:$false
{% endfor %}

Disconnect-VIServer * -Confirm:$false


