###
# Copyright (2017) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
		

ucp_only="{{ restore_ucp_only }}"
ucp_only=${ucp_only,,}

#
# Restore UCP from backup
#
ssh -oStrictHostKeyChecking=no {{ backup_server }} "cat {{ backup_ucp }}" | zcat | \
    docker container run  -i --rm --name ucp -v /var/run/docker.sock:/var/run/docker.sock  docker/ucp:{{ ucp_version }} restore 

#
# restart docker
#
systemctl restart docker

#
# delete the old incarnations of the cluster members
#
if [  "$ucp_only" != "true" ]
then
  nodesdown=$(docker node ls  --format '{{ '{{' }}.Status{{ '}}'}} {{ '{{' }}.ID{{ '}}' }}' | awk '/Down / {print $2}')
  for node in $nodesdown ; do docker node rm $node ; done

  nodesdown=$(docker node ls  --format '{{ '{{' }}.Status{{ '}}'}} {{ '{{' }}.ID{{ '}}' }}' | awk '/Unknown / {print $2}')
  for node in $nodesdown ; do echo removing node $node ; docker node rm $node ; done
fi

