[WinEventLog://Application]
checkpointInterval = 5
current_only = 0
disabled = 0
start_from = oldest

[WinEventLog://Security]
checkpointInterval = 5
current_only = 0
disabled = 0
start_from = oldest

[WinEventLog://System]
checkpointInterval = 5
current_only = 0
disabled = 0
start_from = oldest

[WinEventLog://ForwardedEvents]
checkpointInterval = 5
current_only = 0
disabled = 0
start_from = oldest

[WinEventLog://Setup]
checkpointInterval = 5
current_only = 0
disabled = 0
start_from = oldest

[perfmon://CPU Load]
counters = % C1 Time;% Processor Time;% User Time
instances = _Total
interval = 10
object = Processor

[perfmon://Available Memory]
counters = % Committed Bytes In Use;Available Bytes
interval = 10
object = Memory

[perfmon://FreeDiskSpace]
counters = Free Megabytes;% Free Space
instances = _Total
interval = 300
object = LogicalDisk

[perfmon://Network Interface]
counters = Bytes Received/sec;Bytes Sent/sec
instances = *
interval = 10
object = Network Interface

[perfmon://System]
counters=% Registry Quota In Use
interval = 10
object = System

[perfmon://Physical Disk]
counters = % Idle Time
instances = *
interval = 300
object = PhysicalDisk

[perfmon://Process]
counters = % Privileged Time
instances = *
interval = 10
object = Process

[monitor://C:\file_monitor_example.txt.txt]
disabled = false


