version: '3'
services:
  splunkenterprise:
    hostname: splunkenterprise
    image: chris7444/splunk:{{ splunk_architecture_splunk_version }}
    environment:
      SPLUNK_START_ARGS: --accept-license --answer-yes
      SPLUNK_ENABLE_LISTEN: 9997
      SPLUNK_ADD: "tcp 1514 -sourcetype ucp"
    volumes:
      - vsplunk-opt-splunk-etc:/opt/splunk/etc
      - vsplunk-opt-splunk-var:/opt/splunk/var
    ports:
      - "8000:8000"
      - "9997:9997"
      - "9998:9998"
      - "8088:8088"
      - "1514:1514"
    deploy:
      placement:
       constraints: [node.role == manager]

volumes:
  vsplunk-opt-splunk-etc:
    driver: vsphere
    driver_opts:
      size: 10GB
  vsplunk-opt-splunk-var:
    driver: vsphere
    driver_opts:
      size: 70GB
