## UCP
[ucp_main]
hpe-ucp01 ip_addr='10.60.59.11/16' esxi_host='esxi-hpe-1.cloudra.local'

[ucp]
hpe-ucp01 ip_addr='10.60.59.11/16' esxi_host='esxi-hpe-1.cloudra.local'
hpe-ucp02 ip_addr='10.60.59.12/16' esxi_host='esxi-hpe-2.cloudra.local'
hpe-ucp03 ip_addr='10.60.59.13/16' esxi_host='esxi-hpe-3.cloudra.local'

[ucp:vars]
cpus='4'
ram='16384'
disk2_size='500'

# DTR
[dtr_main]
hpe-dtr01 ip_addr='10.60.59.14/16' esxi_host='esxi-hpe-1.cloudra.local'

[dtr]
hpe-dtr01 ip_addr='10.60.59.14/16' esxi_host='esxi-hpe-1.cloudra.local'
hpe-dtr02 ip_addr='10.60.59.15/16' esxi_host='esxi-hpe-2.cloudra.local'
hpe-dtr03 ip_addr='10.60.59.16/16' esxi_host='esxi-hpe-3.cloudra.local'

[dtr:vars]
cpus='2' 
ram='16384' 
disk2_size='500'
# make sure swarm is specified for DTR otherwise DTR machines will be configured in mixed mode and the deployment  "may" fail in some cases
orchestrator=swarm

## WORKER
[worker]
hpe-worker01 ip_addr='10.60.59.21/16' esxi_host='esxi-hpe-1.cloudra.local'
hpe-worker02 ip_addr='10.60.59.22/16' esxi_host='esxi-hpe-2.cloudra.local'
hpe-worker03 ip_addr='10.60.59.23/16' esxi_host='esxi-hpe-3.cloudra.local' orchestrator=swarm

[worker:vars]
cpus='4'
ram='65536'
disk2_size='500'
orchestrator=kubernetes

## LOAD BALANCERS
[ucp_lb]
hpe-ucp ip_addr='10.60.59.17/16'    esxi_host='esxi-hpe-1.cloudra.local'

[dtr_lb]
hpe-dtr ip_addr='10.60.59.18/16'    esxi_host='esxi-hpe-2.cloudra.local'

[worker_lb]
hpe-worker ip_addr='10.60.59.19/16' esxi_host='esxi-hpe-3.cloudra.local'

[lbs]
hpe-ucp ip_addr='10.60.59.17/16'    esxi_host='esxi-hpe-1.cloudra.local'
hpe-dtr ip_addr='10.60.59.18/16'    esxi_host='esxi-hpe-2.cloudra.local'
hpe-worker ip_addr='10.60.59.19/16' esxi_host='esxi-hpe-3.cloudra.local'

[lbs:vars]
cpus='2'
ram='4096'

[docker:children]
ucp
dtr
worker

[nfs]
hpe-nfs ip_addr='10.60.59.20/16'    esxi_host='esxi-hpe-3.cloudra.local'

[nfs:vars]
cpus='2'
ram='4096'
disk2_size='500'

[logger]
hpe-logger ip_addr='10.60.59.24/16' esxi_host='esxi-hpe-2.cloudra.local'

[logger:vars]
cpus='2'
ram='4096'

[vms:children]
ucp
dtr
worker
lbs
nfs
logger

[vms:vars]
disk1_size='100'

## WINDOWS WORKER
[win_worker]
hpe-worker04 ip_addr='10.60.59.25/16' esxi_host='esxi-hpe-1.cloudra.local'
hpe-worker05 ip_addr='10.60.59.26/16' esxi_host='esxi-hpe-2.cloudra.local'
hpe-worker06 ip_addr='10.60.59.27/16' esxi_host='esxi-hpe-3.cloudra.local'

[win_worker:vars]
cpus='4'
ram='65536'
disk1_size='100'
disk2_size='500'
# Kubernetes 1.8 does not support windows worker nodes
orchestrator=swarm

[all_vms:children]
vms
win_worker


# Local 
[local]
localhost ansible_connection=local
